.btn {
    position: relative;
    padding: 7px 29px;
    border-radius: 2px;
    line-height: 24px;
    transition-property: color, border-color, background-color;
    transition-duration: .25s;
    transition-timing-function: ease-in-out;
    z-index: 0;
    background-color: #E3C39D;
    color: black;
}
h1{
    font-family: "Dancing Script", cursive;
  }
  .carousel-item img{
    width:100%;
    height: 80vh;

  }
  .abc{
    min-width: 50%;
    max-height: 200px;
  }
  .img1{
    background-color:lightsalmon;
    background-repeat: no-repeat;
    
    background-size: 100% 100%;
    
    animation: slider 15s linear infinite;
}
@keyframes slider{
    0%{
        background-color: lightsalmon;
        
        background-size: 100% 100%;
    }
    30%{
        background-color: cornflowerblue;
   
        
        background-size: 100% 100%; }
    60%{
        background-color:lightpink;

        
        background-size: 100% 100%; }
    80%{
        background-color:gainsboro;
        
        background-size: 100% 100%;}
    100%{
        background-color: lightsalmon;

        background-size: 100% 100%; }
}
body{
  background-color:#D2D7D3!important;
  height: 100%;
  width: 100%;
  
  
}

 .card:hover{
  background-color:#81ecec;
  color:black;
 }
 .s{
  transition: 1s ease-in-out;
 }
 .s:hover{
  transform: scale(1.1)!important;
  
 }
 p img{
  margin-top: 10px;
  padding-left: 10px;
 }
 .backcolor{
  background-color: #0a3d62!important;
  color: white;
  margin-top: 4px;
 }
 
 .k{
  position: relative;
  cursor: pointer;
 }
 .k:after{
  content:"";
  position: absolute;
  bottom: 0;
  left:0;
  width:100%;
  height:2px;
  background-color: black;
  transform:scaleX(0);
  transition: 1s;
}
.k:hover::after{
  transform: scale(1);
  
}